.spd {
  display: inline-flex;
  flex-direction: column;

  padding: 5px;
  border: 5px solid black;
  border-radius: 10px;
}

.btn {
  width: 80px;
  height: 40px;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  margin-right: 5px;
  font-family: 'Times New Roman', Times, serif;
  
}

.btn:hover {
  filter: brightness(90%);
}

.btn-min{
  background-color: #42f54e;
}

.btn-mid{
  background-color: #eeee01;
}

.btn-max{
  background-color: #fc3838;
}


.container{
  position: fixed;
  inset: 0;
  overflow: hidden;
}

#balloon{
  position: absolute;
  width: 110px;
  height: 110px;

  border-radius: 50% 50% 50% 50%;
  background: transparent;
  background-image: url(asset/monkey_normal.jpg);
  background-size: cover;
  background-position: center;

  left: 120px;
  top: 120px;
}

#balloon.near{
  background-image: url(asset/monkey_grimace.jpg);
}
